<html lang="ko" layout:decorate="~{_layouts/_base}">
<div layout:fragment="content">
    <!-- 상단 컨트롤 -->
    <div class="flex justify-between items-center relative">
        <!-- 캘린더/다이어리 전환 -->
        <div class="flex bg-gray-200 rounded-full p-1">
            <a href="#">
                <button class="bg-white px-4 py-1 rounded-full text-black shadow-md">Calendar</button>
            </a>
            <a href="#">
                <button id="diary-btn" class="px-4 py-1 rounded-full text-gray-600">Diary</button>
            </a>
        </div>

        <!--  년도/달 선택 -->
        <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center space-x-4">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
            <h2 class="text-xl font-semibold text-center">March 2025</h2>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
    </div>

    <!-- 요일 -->
    <div class="grid grid-cols-7 gap-2 mt-6 text-center font-semibold text-gray-600">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
    </div>

    <!-- 날짜 -->
    <div class="grid grid-cols-7 gap-2 mt-4 text-sm">
        <div class="p-2 border h-24">
            <a href="#">1</a>
            <h5>일정</h5>
        </div>
        <div class="p-2 border h-24">2</div>
        <div class="p-2 border h-24">3</div>
        <div class="p-2 border h-24">4</div>
        <div class="p-2 border h-24">5</div>
        <div class="p-2 border h-24">6</div>
        <div class="p-2 border h-24">7</div>
    </div>
</div>
</html>