<html lang="ko" layout:decorate="~{_layouts/_base}">
<div layout:fragment="content">
    <!-- 상단 컨트롤 -->
    <div class="flex justify-end items-center relative">
        <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center space-x-4">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
            <h2 class="text-xl font-semibold text-center">March 2025</h2>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd"
                          d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd"/>
                </svg>
            </button>
        </div>

        <a th:href="@{/diary/create}" class="bg-black text-white px-5 py-2 rounded">add</a>
    </div>

    <!-- 다이어리 리스트 -->
    <div class="flex-1">
        <ul th:each="diary, loop : ${paging}" class="shadow-md my-4 p-6 rounded-lg border">
            <li>
                <a th:href="@{|/diary/detail/${diary.id}|}">
                    <div>
                        <div th:text="${diary.date}"></div>
                        <div th:text="${diary.subject}" class="text-xs font-semibold opacity-60"></div>
                    </div>
                    <p th:text="${diary.content}" class="line-clamp-3 text-xs"></p>
                </a>
            </li>
        </ul>
    </div>

    <!-- 페이징 처리 -->
    <div th:if="${!paging.isEmpty()}" class="mt-auto">
        <ul class="join flex justify-center">
            <li class="join-item btn">
                <a th:href="@{|?page=${paging.number-1}|}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'btn-active'" class="join-item btn">
                <a th:text="${page} + 1" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="join-item btn">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</html>