<html lang="ko" layout:decorate="~{global/_layout}">
<div layout:fragment="innerContent" class="flex flex-col h-full">
    <!-- 상단 컨트롤 -->
    <div class="flex justify-end items-center relative">
        <div class="absolute left-1/2 transform -translate-x-1/2 flex items-center space-x-4">
            <button class="text-2xl">&lt;</button>
            <h2 class="text-xl font-semibold">March 2025</h2>
            <button class="text-2xl">&gt;</button>
        </div>

        <a th:href="@{/diary/create}" class="bg-black text-white px-4 py-1 rounded">add</a>
    </div>

    <!-- 다이어리 리스트 -->
    <div class="flex-1">
        <ul th:each="diary, loop : ${paging}" class="shadow-md my-4 p-6 rounded-lg border">
            <a th:href="@{|/diary/detail/${diary.id}|}">
                <li>
                    <div>
                        <div th:text="${diary.date}"></div>
                        <div th:text="${diary.subject}" class="text-xs font-semibold opacity-60"></div>
                    </div>
                    <p th:text="${diary.content}" class="line-clamp-3 text-xs"></p>
                </li>
            </a>
        </ul>
    </div>

    <!-- 페이징 처리 -->
    <div th:if="${!paging.isEmpty()}" class="mt-auto">
        <ul class="join flex justify-center">
            <li class="join-item btn">
                <a th:href="@{|?page=${paging.number-1}|}">이전</a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'btn-active'" class="join-item btn">
                <a th:text="${page} + 1" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="join-item btn">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</html>