<nav th:fragment="header" class="p-4 bg-white shadow-md flex justify-between items-center">
    <div class="flex items-center space-x-4">
        <button id="menu-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="size-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <h1 class="text-xl font-semibold">Calendar</h1>
    </div>
    <div class="flex items-center space-x-2">
        <input type="text" placeholder="검색어를 입력하세요." class="border px-3 py-1 bg-gray-200 rounded-full">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>
</nav>